<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
</head>
<body>
    
    <div id="mario-chat" class="container">
        <br />
        <div class="well well-lg">
            <h3>Chat system</h3>
        </div>       
        <div id="chat-window" class="well">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <input id="handle" type="text" class="form-control" placeholder="Handle" /><br />
        <input id="message" type="text" class="form-control" placeholder="Message" /><br />
        <button id="send" class="btn btn-primary">Send</button>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>